<h1>Welcome</h1>
<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.username %></h1>
<% else %>
    <div class = "row">
    <div class = "col-md-6">
    <%= button_to "Login", '/login', method: :get, :class => 'btn btn-primary btn-block ' %>
    <%= button_to "Sign Up", '/users/new', method: :get, :class => 'btn btn-secondary btn-block' %>
    <%= button_to "Log In with Google", '/auth/google_oauth2', :class => "btn btn-primary btn-lg btn-block" %>
    </div>
    </div>
    <%# <%= link_to  image_tag("btn_google_signin_dark_normal_web@2x.png"), '/auth/google_oauth2' %>
    <%# = link_to '/auth/google_oauth2', :class => "button_with_image_save" %>

<%end%>
