<h2>Post New Comment</h2>

<%= form_tag event_comments_path(@event), :class => 'form' do %>
  <%= label :comment, :content, 'Content', :class => 'col-form-label' %>
  <%= text_field :comment, :content, :class => 'form-control' %>
  <br>
  <%= submit_tag 'Post Comment', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', event_path(@event), :class => 'btn btn-secondary' %>
<% end %>
