<!--  This file is app/views/users/edit.html.erb -->
<h2>Edit User</h2>

<%= form_tag user_path(@user), :method => :put do %>
  <div class="row">
    <div class="col-md-6">
      <%= label :user, :email, 'Email', :class => 'col-form-label' %>
      <%= text_field :user, :email, :class => 'form-control' %>
      <br>
      <div class="form-check form-switch">
        <label class="form-check-label" for="user_show_email">Make Email Public to Others</label>
        <input id="user_show_email_hidden" name="user[show_email]" type="hidden" value="false" class="form-check-input" />
        <% if @user.show_email %>
          <input id="user_show_email" name="user[show_email]" type="checkbox" class="form-check-input" role="switch" checked />
        <% else %>
          <input id="user_show_email" name="user[show_email]" type="checkbox" class="form-check-input" role="switch" />
        <% end %>
      </div>
      <br>
      <div class="form-check form-switch">
        <label class="form-check-label" for="user_show_my_events">Make My Hosted/Joined Events Public to Others</label>
        <input id="user_show_my_events_hidden" name="user[show_my_events]" type="hidden" value="false" class="form-check-input" />
        <% if @user.show_my_events %>
          <input id="user_show_my_events" name="user[show_my_events]" type="checkbox" class="form-check-input" role="switch" checked />
        <% else %>
          <input id="user_show_my_events" name="user[show_my_events]" type="checkbox" class="form-check-input" role="switch" />
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <%= submit_tag 'Update User Profile', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', user_path(@user), :class => 'btn btn-secondary' %>
<% end %>