<!--  This file is app/views/events/index.html.erb -->
<h1><%= @page_name %></h1>

<%#  Part 2: Start here... %>

<table class="table table-striped col-md-12" id="events">
  <thead>
    <tr>
      <th>Title</th>
      <th>Host</th>
      <th>Rating</th>
      <th>Time</th>
      <th>Status</th>
      <th>Joined</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          <%# <%= event.title %>
          <%= link_to event.title, event_path(event)%>
        </td>
        <td>
          <%= event.host %>
        </td>
        <td>
          <%= event.rating %>
        </td>
        <td>
          <%= event.event_time %>
        </td>
        <td>
          <%= event.status %>
        </td>
        <td>
          <%= event.joined %>
        </td>
        <td>
          <%= link_to "Details", event_path(event), :class => 'btn btn-primary'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

