<!--  This file is app/views/events/show.html.erb -->
<h2>Details about <em><%= @event.title %></em></h2>

<ul id="details">
  <li>
    Host:
    <%= @event.host %>
  </li>
  <li>
    Rating:
    <%= @event.rating %>
  </li>
  <li>
    Event Time:
    <%= @event.event_time %>
  </li>
  <li>
    Event Status:
    <%= @event.status %>
  </li>
  <li>
    Maximum Number of Attendees:
    <%= @event.attendee_limit %>
  </li>
  <li>
    People:
    <%= @event.people %>
  </li>
</ul>

<h3>Description:</h3>
<p id="description">
  <%= @event.description %>
</p>

<div class="row">
  <%= link_to 'Edit', edit_event_path(@event), :class => 'btn btn-primary col-2' %>
  <%= link_to 'Delete', event_path(@event), 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col-2' %>
  <%= link_to 'Back to event list', events_path, :class => 'btn btn-primary col-2' %>
  <%# Below handles join/unjoin %>
  <% if (!@is_viewer_host) %>
  <%= link_to @join_text, join_path({:id=>@event.id}), :class => @join_btn_style, :id => 'join_btn'%>
  <% end %>
</div>
