<%# Our "base" layout should be a valid HTML document. %>
<!DOCTYPE html>
<html>
  <head>
    <title>WeMeet</title>
    <%# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> %>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', 'media' => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%# These classes come from the Bootstrap CSS framework. %>
    <%# TODO: add nav bars here %>
    <nav class="navbar navbar-expand-lg bg-primary text-white mb-3">
      <h1 class="title">WeMeet!</h1>
      <ul class="nav navbar-nav">
          <li>
            <%= link_to "Home", events_path %>
          </li>
          <li>
            <%= link_to "Post Event", new_event_path %>
          </li>
          <li>
            <%= link_to "My Events", myEvents_path(@username) %>
          </li>
          <li>
            <%= link_to "Advanced Search", search_path %>
          </li>
          <li>
            <%= form_tag search_result_path, method: :get, id: 'search_form_nav' do %>
              <%= text_field_tag :q, params[:q], size: 25, placeholder: "Search event/host/attendee name" %>
              <%= submit_tag "Search", class: "btn btn-primary", id: "search_btn_nav" %>
            <% end %>
          </li>
          <li>
            <%= link_to "Log in/Sign up", login_signup_path %>
          </li>
      </ul>
    </nav>
    <div class="container">
    <%# Render "flash" messages in our application. This loads _flash.erb %>
    <%= render 'layouts/flash' %>
    <main id="main">
      <%= yield %>
    </main>
  </div>
</body>
</html>
